<div class="modal-header">
  <h4 class="modal-title" id="myModalLabel">Log In</h4>
  <button type="button" class="close" data-dismiss="modal">x</button><br>
</div>
<div class="modal-body">
   <%= form_tag login_path class: 'form' do %>
       <div class="login-content">
         <div class="">
           <%= label_tag :email %>
           <%= text_field_tag :email %>
         </div>

         <div class="">
           <%= submit_tag 'Login', class: "button"%>
         </div>
     </div>
   <% end %>
 </div>
 <div class="modal-footer">
 </div>